@model IEnumerable<BookStore.Models.Books>
@{
    ViewBag.Title = "Index";
    if (Session["User_id"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">

            <div class="parallax-window" data-parallax="scroll" data-image-src="Content/wallpaper1.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="images/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Book Case</h1>
                                <h6 class="tm-site-description">E-Book Online</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li">@Html.ActionLink("Home", "Index", "Home", new { @class = "tm-nav-link" })</li>
                                <li class="tm-nav-li">@Html.ActionLink("Write", "Index", "Book", null, new { @class = "tm-nav-link" })</li>
                                <li class="tm-nav-li">@Html.ActionLink("Library", "Index", "Library", null, new { @class = "tm-nav-link" })</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Welcome to BookCase</h2>
                <p class="col-12 text-center"></p>
            </header>

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Category</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">NewUpdate</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">E-BOOK</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Gallery -->
            <div class="row tm-gallery">
                <!-- gallery page 1 -->
                <div id="tm-gallery-page-category" class="tm-gallery-page">
                    @foreach (var item in Model.OrderBy(i => i.Category))
                    {
                        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                            <figure>
                                <img src=@Url.Content("~/UploadedImages/" + @Html.DisplayFor(modelItem => item.Coverimg)) width="250" height="300"/><br /><br />
                                <figcaption>
                                    <h4 class="tm-gallery-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                                    <p class="tm-gallery-description">@Html.DisplayFor(modelItem => item.Category)</p>
                                    <p class="tm-gallery-price">@Html.DisplayFor(modelItem => item.Price) || @Html.ActionLink("Details", "Details", new { id = item.Book_id }) || @Html.ActionLink("Buy", "Buy", new { id = item.Book_id })</p>

                                </figcaption>
                            </figure>
                        </article>
                    }
                </div> 

                <div id="tm-gallery-page-newupdate" class="tm-gallery-page">
                    @foreach (var item in Model)
                    {
                        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                            <figure>
                                <img src=@Url.Content("~/UploadedImages/" + @Html.DisplayFor(modelItem => item.Coverimg)) width="250" height="300" /><br /><br />
                                <figcaption>
                                    <h4 class="tm-gallery-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                                    @using (Html.BeginForm("GetPDF", "Home", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(modelItem => item.Content, new { @id = "Content", @name = "Content" })
                                        <button class="btn">Read</button>
                                    }
                                    <p class="tm-gallery-description">@Html.DisplayFor(modelItem => item.Category)</p>
                                    <p class="tm-gallery-price">@Html.DisplayFor(modelItem => item.Price) || @Html.ActionLink("Details", "Details", new { id = item.Book_id }) || @Html.ActionLink("Buy", "Buy", new { id = item.Book_id })</p>
                                </figcaption>
                            </figure>
                        </article>
                    }
                </div> 
                <!-- gallery page 1 -->
            </div>

        </main>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/parallax.min.js"></script>
    <script>


		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
    </script>
</body>
</html>